@import "@primer/css/core";
@import "@primer/css/utilities";
@import "@primer/css/layout";
@import "@primer/css/header/index.scss";
@import "@primer/css/markdown/index.scss";
@import "@primer/css/labels/index.scss";
@import "@primer/css/timeline/index.scss";
@import "@primer/css/subhead/index.scss";

:root {
  --tag-bg-hover-color: #def;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tag-bg-hover-color: rgba(56,139,253,0.2);
  }
}

body {
  font-size: 16px;
}

li ul, li ol {
  padding-left: $spacer-3;
  margin-bottom: 0;
}

summary {
  outline: none;
}

body {
  max-width: 90rem;
}

.social {
  font-size: 0.9em;

  li:hover svg path {
    opacity: 0.7;
  }
}

footer {

  ul li:last-of-type {
    margin-right: 0 !important;
  }

  @media (max-width: 550px) {
    .wrapper {
      flex-direction: column;
    }

    ul li:last-of-type {
      margin-right: 0 !important;
    }
  }
}

header {

  .name {
    margin-top: 0.1em !important;
  }

  .bio {
    font-size: 14px !important;
    margin-top: -0.1em !important;
  }

  ul li:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .Header {
    font-size: 16px !important;
  }

  @media (max-width: 550px) {

    .Header {
      padding-top: $spacer-3 !important;
      padding-bottom: $spacer-3 !important;
    }

    .wrapper {
      flex-direction: column;
    }

    ul {
      margin-top: 0.6em;
    }
  }
}

.main-container {
  .main {
    min-width: 0;
  }

  .height-100 {
    height: 100vh;
  }

  .sidebar {
    width: 25%;
    min-width: 260px;
    a.filter-item.selected {
      border-width: 0 6px 0 6px !important;
      border-right-color: transparent !important;
    }
  }
}

article {

  #TableOfContents {
    line-height: 1.6 !important;
  }

  .markdown-body .highlight pre, .markdown-body pre {
    background-color: var(--color-bg-primary) !important;
    border-radius: 10px !important;
    outline: none;
    border: 1px solid var(--color-border-muted);
  }
}

.tag-list {
  margin-top: 8px;

  li {
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2em;
    line-height: 23px;
    white-space: nowrap;
  }

  li:hover {
    background-color: var(--tag-bg-hover-color) !important;
  }

  a {
    padding: 8px 13px;
    text-decoration:none
  }

  .full a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .small a {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.year > .TimelineItem:nth-child(2) .Box {
  margin-top: 0 !important;
}

.year:first-of-type .TimelineItem:nth-child(1) {
  padding-top: 0 !important;
}

.year .Box .tag-list li {
  font-size: 13px !important;
}

.year:not(:first-of-type) .TimelineItem:nth-child(1) {
  padding-top: $spacer-5 !important;
}

.year .TimelineItem-body a.title {
  font-size: 18px !important;
  font-weight: 450;
}

.year.State.year {
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-default) !important;
}

.year .metadata {
  font-size: 11px !important;
}