/*! purgecss start ignore */
:root {
  --color-canvas-default: #eff2f4 !important;
  --color-fg-default: #444 !important;
  --color-heading: #333 !important;
  --color-bg-default: #f6f8fa !important;
  --color-canvas-subtle: #fafafa !important;
  --color-filter-item-hover: rgb(203, 228, 248) !important;
  --color-bg-subtle: #fafafa !important;
  --tag-bg-hover-color: rgb(185, 218, 248);
  --post-container-color: var(--color-bg-default);
  --color-primer-border-active: var(--color-accent-fg) !important;
  --color-accent-subtle: rgb(203, 228, 248) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tag-bg-hover-color: rgba(56,139,253,0.2);
    --post-container-color: #1c232e;
    --color-canvas-default: #1a202c !important;
    --color-bg-default: #1a202c !important;
    --color-fg-default: #abb2bf !important;
    --color-heading: #c9d1d9 !important;
    --color-canvas-subtle: #1e2531 !important;
    --color-filter-item-hover: #1e2531 !important;
    --color-bg-subtle: #1e2531 !important;
    --color-border-muted: #2b323b !important;
    --color-accent-subtle: rgba(56,139,253,0.15) !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading) !important;
  letter-spacing: -.02rem; 
}

h1, h2 {
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.main-content {
  max-width: 980px;
}

.cursor-pointer {
  cursor: pointer;
}

body, .markdown-body {
  font-size: 16px;
  @media (max-width: 650px) {
    font-size: 15px;
  }
}

li ul, li ol {
  padding-left: 16px;
  margin-bottom: 0;
}

summary {
  outline: none;
}

body {
  max-width: 90rem;
}

hr {
  height: 0 !important;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-border-muted) !important;
}

.social {
  font-size: 0.9em;

  li:hover svg path {
    opacity: 0.7;
  }
}

footer {

  ul li:last-of-type {
    margin-right: 0 !important;
  }

  @media (max-width: 650px) {
    .wrapper div {
      flex-direction: column-reverse;

      .social {
        margin-bottom: 16px;
      }
    }

    ul li:last-of-type {
      margin-right: 0 !important;
    }
  }
}

header {

  .name {
    margin-top: 0.1em !important;
  }

  .bio {
    font-size: 14px !important;
    margin-top: -0.1em !important;
  }

  .UnderlineNav {
    box-shadow: none !important;
    min-height: 44px !important;
  }

  .UnderlineNav-item {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-color: var(--color-canvas-default);
    svg {
      width: 14px;
    }
  }

  .UnderlineNav-item[aria-current]:not([aria-current=false]) {
    font-weight: 500;
    border-bottom-width: 2px !important;
    svg {
      color: var(--color-fg-default) !important;
    }
  }

  .UnderlineNav-item.selected:after, .UnderlineNav-item[aria-current]:not([aria-current=false]):after {
    bottom: calc(50% - 21px);
  }

  .UnderlineNav-item:hover, .UnderlineNav-item:focus {
    border-bottom-color: var(--tag-bg-hover-color);
  }

  .UnderlineNav-item svg {
    display: none;
  }

  .UnderlineNav-body {
    gap: 0 !important;
  }

}

.main-container {
  .main {
    min-width: 0;
  }

  .height-100 {
    height: 100vh;
  }

  .sidebar {
    width: 25%;
    min-width: 260px;

    a.filter-item:not(.selected):hover {
      background-color: var(--color-filter-item-hover) !important;
    }

    a.filter-item.selected {
      border-width: 0 6px 0 6px !important;
      border-right-color: transparent !important;
    }

    a.filter-item.selected span svg {
      color: var(--color-fg-default) !important;
    }
  }
}

article {

  #TableOfContents {
    line-height: 1.6 !important;
  }

  h2:hover, h3:hover, h4:hover, h5:hover {
    .headline-hash {
      display: inline-block !important;
    }
  }

  h2::before, h3::before, h4::before, h5::before { 
    display: block; 
    content: " "; 
    margin-top: -20px; 
    height: 20px; 
    visibility: hidden; 
    pointer-events: none;
  }

  .markdown-body .footnotes {
    border-top: none;
  }

  .markdown-body .highlight pre, .markdown-body pre {
    background-color: var(--color-bg-default) !important;
    border-radius: 10px !important;
    outline: none;
    border: 1px solid var(--color-border-muted);
  }

  @media (max-width: 600px) {
    .markdown-body .highlight pre, .markdown-body pre {
      margin-left: -16px;
      margin-right: -16px;
      border-radius: 0px !important;
      border-left: none !important;
      border-right: none !important;
      padding: 16px;
    }
  }
}

.tag-list {
  margin-top: 8px;

  li {
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2em;
    line-height: 23px;
    white-space: nowrap;
  }

  li:hover {
    background-color: var(--tag-bg-hover-color) !important;
  }

  a {
    padding: 8px 13px;
    text-decoration:none
  }

  .full a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .small a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.year {
  
  .TimelineItem-badge {
    margin-left: -5px;
  }
  .TimelineItem:nth-child(1)::before {
    margin-left: 10px;
  }
  .TimelineItem--condensed::before {
    margin-left: 10px;
  }

  & > .TimelineItem:nth-child(2) .Box {
    margin-top: 0 !important;
  }

  &:first-of-type .TimelineItem:nth-child(1) {
    padding-top: 0 !important;
  }

  .Box .tag-list li {
    font-size: 13px !important;
  }

  &:not(:first-of-type) .TimelineItem:nth-child(1) {
    padding-top: 32px !important;
  }

  .State.year {
    color: var(--color-fg-default);
    background-color: var(--color-bg-subtle);
    border: 1px solid var(--color-border-default) !important;
  }

  .metadata {
    font-size: 11px !important;
  }

  .post-container {
    border-radius: 12px !important;
    background-color: var(--post-container-color);
  }
}

.metadata {
  font-size: 11px !important;
}

.gen-timeline {
  padding-top: 10px;
  padding-bottom: 0px;

  a {
      color: var(--color-fg-muted);
      text-decoration: underline;
      text-underline-offset: .1rem;
      &:hover {
          color: var(--color-accent-fg);
      }
  }
  .title {
      a {
          text-decoration: none;
          color: var(--color-accent-fg);
          &:hover {
            text-decoration: underline;
            text-underline-offset: .1rem;
          }
      }
      font-size: 17px !important;
  }
  .date-range {
      font-size: 14px !important;
      font-weight: 450;
  }
  p.additional-text {
      font-size: 1em !important;
  }
  .where {
      font-size: 1em !important;
  }

  @media (max-width: 650px) {
      .title {
          font-size: 16px !important;
      }
      .date-range {
          margin-bottom: 0px !important;
      }
  }
}

figure {
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;

  img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }

  figcaption {
    margin-top: .4em;
    text-align: center;
    font-size: 14px;
    color: var(--color-fg-muted);
  }
}

.gh-repo {
  background-color: var(--post-container-color) !important;

  .repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
  }
}

.media {
  &:hover {
    p:first-of-type {
      text-decoration: underline;
      text-underline-offset: .1rem;
    }
    img {
      transform: scale(1.025);
      opacity: 0.8;
    }
  }

  img {
    transition: all .2s;
    min-width: auto;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
    &:first-of-type {
      @media (max-width: 544px) {
        font-size: .85rem
      }
      font-size: .92rem
    }
  }
}

.about-menu {

  font-size: 15px;

  .UnderlineNav-item[aria-current]:not([aria-current=false]) {
    font-weight: 500;
    svg {
      color: var(--color-fg-default) !important;
    }
  }

  .menu-item[aria-current]:not([aria-current=false]) {
    font-weight: 500;
    svg {
      color: var(--color-fg-default) !important;
    }
  }

  .menu-item[aria-current]:not([aria-current=false]) {
    background-color: var(--color-accent-subtle) !important
  }
}

.inline-note {

  @media (max-width: 600px) {
    .highlight pre.chroma {
      margin-left: initial !important;
      margin-right: initial !important;
      border-radius: 10px !important;
      border: 1px solid var(--color-border-muted) !important;
    }
  }

  border-left: 6px solid;
  border-right: 6px solid;
  border-right-color: transparent !important;
  p {
    margin-bottom: 8px;
  }
  & > :last-child {
    margin-bottom: 0 !important;
  }
  &.info {
    background-color: var(--color-accent-subtle);
    border-color: var(--color-accent-muted);
  }
  &.warning {
    font-weight: normal;
    background-color: var(--color-attention-subtle);
    border-color: var(--color-attention-muted);
  }
  &.danger {
    background-color: var(--color-danger-subtle);
    border-color: var(--color-danger-muted);
  }
  &.success {
    background-color: var(--color-success-subtle);
    border-color: var(--color-success-muted);
  }
  &.done {
    background-color: var(--color-done-subtle);
    border-color: var(--color-done-muted);
  }
}

.columns {
  &:not(:first-of-type) {
    margin-top: 15px;
  }
  .column {
    h2, h3, h4 {
      border-bottom: none;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 12px;
    }
    .right {
      margin-left: 16px;
    }
    .left {
      margin-right: 16px;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    .column {
      .right {
        margin-top: 15px;
        margin-left: 0;
      }
      .left {
        margin-right: 0;
      }
    }
  }
}

.bold-default-color {
  li {
    color: var(--color-fg-muted);
    strong {
      font-weight: 450;
      color: var(--color-fg-default);
    }
  }
  a {
    color: var(--color-fg-muted);
    text-decoration: underline;
    text-underline-offset: .1rem;
    &:hover {
        color: var(--color-accent-fg);
    }
  }
}

.hmsubhead {

  a svg path, a svg circle {
    transition: .3s;
  }

  a:hover svg path, a:hover svg circle {
    opacity: 0.7;
  }

  .mb-gentle {
    margin-bottom: 12px;
    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }
}

.Subhead--spacious {
  padding-bottom: .6em;
}

.Subhead-heading {
  line-height: 1.25;
  font-size: 2em !important;
}

.h100 {
  height: 100%;
}

.mw150 {
  max-width: 150px;
}

.mw980 {
  max-width: 980px;
}

.height-48 {
  height: 48px;
}

.mh-120 {
  min-height: 120px;
}

.mh-70 {
  min-height: 70px;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.notFoundVideo {
  width: 100%; 
  max-width: 550px; 
  height: auto; 
  margin-top: 10px; 
  border-radius: 15px;
}

.blogPostIcon {
  width: 14px !important; 
  margin-right: 5px !important;
}

.blog-rss-icon {
  svg {
    width: 18px;
    height: 18px;
  }
  &:hover svg path {
    opacity: 0.7;
  }
}

.lh-ultra-condensed {
  line-height: 1.1;
}

.lh-sm-condensed {
  line-height: 1.35!important;
  @media (max-width: 544px) {
    line-height: 1.5!important;
  }
}

.mt3 {
  margin-top: 3px
}

.mr10 {
  margin-right: 10px
}

.ml5 {
  margin-left: 5px!important;
}

.w16h16 svg {
  width: 16px; 
  height: 16px;
}

.w30h30 {
  width: 30px; 
  height: 30px
}

.w35h28 {
  width: 35px; 
  height: 28px
}

.w60h24 {
  width: 60px; 
  height: 24px
}

.w46h24 {
  width: 46px; 
  height: 24px
}

.mb-1-sm-only {
  margin-bottom: 0 !important;
  @media (max-width: 544px) {
    margin-bottom: 4px !important;
  }
}

/*! Giscus  */
.giscus-frame {
  /*! Workaround for weird wiggling when hovering (https://stackoverflow.com/q/73726714) */
  filter: blur(0px);
}

.giscus:not(:empty) {
  margin-top: 3rem !important;
}

/*! Colors */
$allcolors: #F05138 #555555 #89e051 #ccc #438eff #3572A5 
#3D6117 #f34b7d #b07219 #00ADD8 #e34c26 #563d7c #4F5D95
#41b883 #e38c00 #f1e05a #DA5B0B #2b7489;
@each $color in $allcolors {
  .color-#{unquote("\\" + $color)} {
    background-color: nth($color, 1);
  }
}
/*! purgecss end ignore */