@import "@primer/css/core";
@import "@primer/css/utilities";
@import "@primer/css/layout";

.height-100 {
  height: 100vh;
}

.sidebar-max-height {
  max-height: 90vh;
  overflow-y: auto;
}

.max {
  max-width: 100rem;
}
