<!doctype html>
<html lang="en" class="color-bg-primary" data-color-mode="auto"
  data-dark-theme="dark">

  <head>
    {{ partial "head" . }}
  </head>

  <body class="mx-auto">
    <div class="main-container max mx-auto">

      <header class="width-full hide-xl hide-lg border-bottom
        color-border-secondary">
        {{ partial "header" . }}
      </header>

      <div class="d-flex flex-row">
        <aside class="sidebar hide-sm hide-md height-100 position-sticky top-0
          border-right color-border-secondary color-bg-primary">
          {{ partial "sidebar" . }}
        </aside>

        <main class="main flex-1 color-bg-secondary border-lg-right
          color-border-secondary">
          {{ block "main" . }} {{ end}}
        </main>
      </div>

      <footer class="width-full hide-xl hide-lg border-top
        color-border-secondary">
        {{ partial "footer" . }}
      </footer>

    </div>
  </body>

</html>
