<!doctype html>
<html lang="en" data-color-mode="auto" data-dark-theme="dark">

  <head>
    {{ partial "head" . }}
  </head>

  <body class="mx-auto">
    <div class="main-container max mx-auto">

      <header class="width-full hide-xl hide-lg border-bottom color-border-muted">
        {{ partial "header" . }}
      </header>

      <div class="d-flex flex-row">
        <aside class="sidebar hide-sm hide-md height-100 position-sticky top-0 border-right color-border-muted color-bg-default">
          {{ partial "sidebar" . }}
        </aside>

        <main class="main flex-1 color-bg-subtle border-lg-right color-border-muted">
          {{ block "main" . }} {{ end}}
        </main>
      </div>

      <footer class="width-full hide-xl hide-lg border-top color-border-muted">
        {{ partial "footer" . }}
      </footer>

    </div>
  </body>

</html>
