{{ define "main" }}

<div class="markdown-body mx-auto px-3 px-md-4 px-lg-6 py-4 py-md-5 py-lg-7 main-content">
  
  {{ if (eq .Section "tags")}}
    <span class="hide-xl hide-lg mb-1">
      <a class="text-small text-uppercase text-bold" href="/tags">Browse all tags →</a>
    </span>
    <span class="Subhead mt-1 mt-lg-0 Subhead--spacious">
      <div class="pr-3 h1 Subhead-heading">Tagged with <span class="color-fg-accent">{{ .Title }}</span></div>
      <div class="Subhead-actions mt-2 hide-sm hide-md"><a class="text-semibold" href="/tags">Browse all tags →</a></div>
    </span>
  {{ else }}
    <span class="Subhead mt-0 Subhead--spacious">
      <div class="pr-3 h1 Subhead-heading">{{ .Title }}</div>
      <div class="Subhead-actions mt-2"><a class="cursor-pointer p-1 pl-2 w30h30 blog-rss-icon tooltipped tooltipped-n tooltipped-no-delay" target="_blank" rel="noopener nofollow" aria-label="RSS Feed" href="/blog/index.xml">
        {{ partial "icons/rss" }}
      </a></div>
    </span>
  {{ end }}

  {{ range .Paginator.Pages.ByPublishDate.Reverse.GroupByDate "2006" }}
  <div class="year">
    <div class="TimelineItem py-2">
      <div class="TimelineItem-badge">
        <span class="State year f4">{{ .Key }}</span>
      </div>
    </div>

    {{ range .Pages }}

      <div class="TimelineItem TimelineItem--condensed pb-0">

        <div class="TimelineItem-body">
          <div class="ml-n3 mb-0 mt-2 Box post-container px-3 pb-3 pt-3 pt-sm-2 position-relative">
            
            <div class="d-flex flex-wrap flex-items-center mb-1-sm-only">
              <span class="metadata text-small pr-2 color-fg-muted text-semibold d-flex flex-items-center text-uppercase">
                <span>{{ partial "icons/calendar" }}</span><span>{{ .Date.Format "Jan 2" }}</span>
                <span class="pl-2">{{ partial "icons/stopwatch" }}</span><span>{{.ReadingTime}} min read</span>
              </span>
              {{ with .Params.tags }}
                <ul class="list-style-none tag-list mb-1 pl-1 hide-sm">
                  {{ range . }}
                    {{ $href := print (relURL "tags/") (urlize .) }}
                    <li class="small d-inline-block color-bg-accent color-fg-default px-0 py-0 f5 mr-1"><a href="{{ $href }}">{{ . }}</a></li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
            
            <a class="lh-condensed mt-0 text-bold flex-auto min-width-0" href="{{ .RelPermalink }}">{{ .Title }}</a>
            
            <p class="color-fg-muted f5 mb-0 hide-sm">{{ .Description }}</p>
          </div>
        </div>
      </div>

    {{ end }}
  </div>
  {{ end }}

  {{ partial "paginator" . }}
</div>

{{ end }}
