{{ define "main" }}

<div class="markdown-body mx-auto px-3 px-md-4 px-lg-6 py-4 py-md-5 py-lg-7" style="max-width: 980px;">
  
  {{ if (eq .Section "tags")}}
    <a class="text-small text-uppercase text-bold" href="/tags">Browse all tags →</a>
    <h1 class="mt-3"> Tagged with <span class="color-text-link">{{ .Title }}</span></h1>
  {{ else }}
    <h1 class="mt-3">{{ .Title }}</h1>
  {{ end }}

  {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <p>
      <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br>
    </p>
  {{ end }}

  {{ partial "paginator" . }}
</div>

{{ end }}
