{{ define "main" }}

<div class="px-4 py-2 py-md-4 py-lg-6 px-lg-6">
  <article class="mx-auto" style="max-width: 900px;">
    <h1>{{ .Title }}</h1>

    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    {{ with .Params.tags }}
    <br>
    {{ range . }}
    {{ $href := print (relURL "tags/") (urlize .) }}
    <a class="btn" href="{{ $href }}">{{ . }}</a>
    {{ end }}
    {{ end }}

    {{ if default false (default .Site.Params.toc .Params.toc) }}
    <span>
      {{ partial "mobile-toc" . }}
    </span>
    {{ end }}

    <div>
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
