{{ define "main" }}

<div class="markdown-body mx-auto px-3 px-md-4 px-lg-6 py-4 py-md-5 py-lg-7 mw980">
  <span class="Subhead mt-0 Subhead--spacious">
    <div class="pr-3 h1 Subhead-heading">{{ .Title }}</div>
  </span>

  <ul class="list-style-none pl-0 tag-list mb-2">
  {{ range .Data.Terms.ByCount }}
    <li class="d-inline-block color-bg-accent color-fg-default mb-2 mr-2 full" >
      <a href="{{ .Page.RelPermalink }}" class="d-flex flex-items-center">
        <span>{{ .Page.Title }}</span>
        <span class="Counter ml-2">{{ .Count }}</span>
      </a>
    </li>
  {{ end }}
  </ul>
  
</div>

{{ end }}
