<a href="{{ .url }}" target="_blank" rel="noopener nofollow" class="no-underline">
    <div class="width-full p-1 p-md-2 media">
        <picture>
            {{ if ne .img_webp "kanye_west.webp" }}
            <source srcset="/img/{{ .img_webp }}" type="image/webp">
            {{ end }}
            <img src="/img/{{ .img }}" class="circle mh-70" loading="lazy" decoding="async" alt="{{.name}}">
        </picture>
        <p class="mb-3 text-center lh-condensed color-fg-default">{{.name}}</p>
    </div>
</a>
