<div class="p-4 wrapper text-center d-flex flex-justify-between flex-items-center
    mx-auto">
    <p class="f5 color-text-tertiary mb-0">© {{ now.Format "2006"}} — Ash
        Ketchum</p>
    <ul class="list-style-none">
        <li class="d-inline-block p-2 pr-0">
            <a href="#">{{ partial "icons/github" }}</a>
        </li>
        <li class="d-inline-block p-2 pr-0">
            <a href="#">{{ partial "icons/telegram"}}</a>
        </li>
        <li class="d-inline-block p-2 pr-0">
            <a href="#">{{ partial "icons/mail" }}</a>
        </li>
        <li class="d-inline-block p-2 pr-0">
            <a href="#">{{ partial "icons/heart" }}</a>
        </li>
        <li class="d-inline-block p-2 pr-0">
            <a href="#">{{ partial "icons/rss" }}</a>
        </li>
    </ul>
</div>
