<div class="Header py-4 px-4 wrapper text-center d-flex color-bg-primary mx-auto">

    <div class="d-flex" style="height: 48px;">
        <a href="/">
            <img src="{{ .Site.Params.image }}" class="circle anim-hover-grow mr-2" height="48" width="48">
        </a>
        <div class="pl-1 d-flex text-left flex-column align-items-center m-0 mb-1">
            <p class="m-0 p-0 f4 name color-text-primary text-bold">
                {{ .Site.Params.name }}
            </p>
            <p class="no-wrap bio m-0 p-0 f5 color-text-secondary">
                {{ .Site.Params.bio | (.Site.GetPage "/blog").RenderString }}
            </p>
        </div>
    </div>

    <div class="Header-item Header-item--full"></div>

    <ul class="list-style-none">
        {{ $current := . }}
        {{ range .Site.Menus.main }}

        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
        {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}

        <li class="{{ if $active }}text-underline{{ end }} d-inline-block px-2 py-0">
            <a href="{{ .URL }}" class="Header-link color-text-primary">{{ .Name }}</a>
        </li>

        {{ end }}
    </ul>
</div>