<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

{{ $title := print .Title " · " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>

{{ if .Description }}
  <meta
    content="{{ default .Summary .Description }}"
    name="description"
    property="og:description"
    />
{{ else if .IsPage }}
  <meta
    content="{{ .Summary | plainify }} | {{ .Site.Params.Description }}"
    name="description"
    property="og:description"
    />
{{ else }}
  <meta
    content="{{ .Site.Params.Description }}"
    name="description"
    property="og:description"
    />
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{- $CSS := slice (resources.Get "/css/primer.css") (resources.Get "/scss/style.scss" | toCSS) | resources.Concat "css/main.css" | minify | postCSS | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $CSS.RelPermalink }}" integrity="{{ $CSS.Data.Integrity }}">

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ if .Params.math }}
  {{ partial "math" . }}
{{ end }}