<div class="Header px-4 pt-3 pb-0 wrapper text-center d-flex color-bg-primary mx-auto flex-column">

    <div class="d-flex" style="height: 48px;">
        <a href="/">
            <img src="{{ .Site.Params.image }}" class="circle anim-hover-grow mr-2" height="48" width="48">
        </a>
        <div class="pl-1 d-flex text-left flex-column align-items-center m-0 mb-1">
            <p class="m-0 p-0 f4 name color-text-primary text-bold">
                {{ .Site.Params.name }}
            </p>
            <p class="no-wrap bio m-0 p-0 f5 color-text-secondary">
                {{ .Site.Params.bio | (.Site.GetPage "/blog").RenderString }}
            </p>
        </div>
    </div>

    <nav class="UnderlineNav mb-0">
        <div class="UnderlineNav-body">

            {{ $current := . }}
            {{ range .Site.Menus.main }}

            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
            {{ $active = or $active (and (eq .Name "About") (eq $current.Section "about")) }}
            {{ $icon := printf "icons/%s" .Pre }}

            <a class="UnderlineNav-item mt-1 py-1" href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}>
                {{ partial $icon }}
                <span class="ml-1 {{ if $active }}color-text-primary{{ else }}color-text-secondary{{ end }}">{{ .Name }}</span>
            </a>

            {{ end }}
        </div>
    </nav>
</div>