{{ $title = .Site.Title }}
<title>{{ $title }}</title>

<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

{{ if .Description }}
  <meta
    content="{{ default .Summary .Description }}"
    name="description"
    property="og:description"
    />
{{ else if .IsPage }}
  <meta
    content="{{ .Summary | plainify }} | {{ .Site.Params.Description }}"
    name="description"
    property="og:description"
    />
{{ else }}
  <meta
    content="{{ .Site.Params.Description }}"
    name="description"
    property="og:description"
    />
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ with slice (resources.Get "/css/primer.css") (resources.Get "/scss/style.scss" | toCSS) | resources.Concat "css/main.css" | postCSS | minify }}
<style type="text/css" nonce="DuNA/uqEdJUe/qofrw6Hy2EO6gvFnH4/4bKaeIiQg2A=">{{ .Content | safeCSS }}</style>
{{ end }}

{{ if .Params.math }}
  {{ partial "math" . }}
{{ end }}

<link rel="alternate" type="application/rss+xml" href="https://edoardo.fyi/blog/index.xml" title="Blog">
<link rel="me" href="https://mastodon.social/@nedo">