{{- $KatexCSS := resources.Get "/css/katex.min.css" | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $KatexCSS.RelPermalink }}" integrity="{{ $KatexCSS.Data.Integrity }}">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
{{- $KatexJS := resources.Get "/js/katex.min.js" | fingerprint "sha512" }}
<script defer src="{{ $KatexJS.RelPermalink }}" integrity="{{ $KatexJS.Data.Integrity }}"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
{{- $AutoRenderJS := resources.Get "/js/auto-render.min.js" | fingerprint "sha512" }}
<script defer src="{{ $AutoRenderJS.RelPermalink }}" integrity="{{ $AutoRenderJS.Data.Integrity }}" onload="renderMathInElement(document.body);"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>