{{ $link := printf "https://www.thetvdb.com/?tab=series&id=%s" .guid }}

<a {{ if ne .guid "episode" }}href="{{ $link }}" target="_blank" rel="noopener nofollow" class="no-underline"{{ end }}>
    <div class="width-full p-1 p-md-2 media">
        <picture>
            <source srcset="/img/{{ .img_webp }}" type="image/webp">
            <img src="/img/{{ .img }}" class="rounded rounded-1" loading="lazy" decoding="async" alt="{{ .title }}">
        </picture>
        <p class="mb-1 lh-condensed color-text-primary">{{.title}}</p>
        <p class="mb-2 mb-lg-1 lh-condensed f5 color-text-secondary">{{.ep}}</p>
    </div>
</a>
