<div class="px-md-6 px-lg-7 py-6 d-flex flex-column h100">
    <a href="/">
        <img src="{{ .Site.Params.image }}" alt="{{ .Site.Params.name }}" class="circle mb-3 anim-hover-grow mw150" height="150" width="150">
    </a>

    <h1 class="mb-2 lh-condensed">{{ .Site.Params.name }}</h1>
    <p class="mb-3 color-fg-muted f4">{{ .Site.Params.bio | (.Site.GetPage "/blog").RenderString }}</p>

    <ul class="filter-list mt-6 mb-6">
        {{ $current := . }}
        {{ range .Site.Menus.main }}

        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
        {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
        {{ $active = or $active (and (eq .Name "About") (eq $current.Section "about")) }}
        {{ $icon := printf "icons/%s" .Pre }}
        <li>
            <a class="filter-item 
            {{ if $active }}color-fg-default color-bg-accent border color-border-accent-emphasis selected text-semibold
            {{ else }}color-fg-muted{{end}}" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
                <span class="mr-2">{{ partial $icon }}</span>
                {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>

    <span class="flex-1"></span>

    <ul class="social list-style-none">
        {{ range .Site.Menus.social }}
        {{ $icon := printf "icons/%s" .Pre }}
        <li class="cursor-pointer tooltipped tooltipped-n tooltipped-no-delay d-inline-block mr-3" aria-label="{{ .Name }}">
            <a href="{{ .URL }}" target="_blank" rel="noopener nofollow" aria-label="{{.Pre}}">{{ partial $icon }}</a>
        </li>
        {{ end }}
    </ul>

</div>
