{{ $permalink := .Page.RelPermalink }}

<nav class="UnderlineNav hide-sm hide-md mb-4 about-menu">
    <div class="UnderlineNav-body">

        {{ range .Site.Menus.about }}
        {{ $icon := printf "icons/%s" .Pre }}
        {{ $active := strings.HasSuffix $permalink .URL }}

        <a class="UnderlineNav-item" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
            {{ partial $icon }}
            <span class="ml-1 {{if not $active }}color-fg-muted{{ end }}">{{ .Name }}</span>
        </a>
        {{ end }}
    </div>
</nav>

<div class="d-flex">
    <div class="flex-1 pr-2">
        <nav class="menu hide-lg hide-xl about-menu mb-4">
    
            {{ range $i, $about := .Site.Menus.about }}
            {{ $icon := printf "icons/%s" .Pre }}
            {{ $active := strings.HasSuffix $permalink .URL }}
        
            {{ if le $i 2 }}
                <a class="menu-item" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
                    {{ partial $icon }}
                    <span class="{{if not $active }}color-fg-muted{{ end }}">{{ .Name }}</span>
                </a>
            {{ end }}
        
            {{ end }}
        
        </nav>
    </div>
    
    <div class="flex-1 pl-2">
        <nav class="menu hide-lg hide-xl about-menu mb-4">
    
            {{ range $i, $about := .Site.Menus.about }}
            {{ $icon := printf "icons/%s" .Pre }}
            {{ $active := strings.HasSuffix $permalink .URL }}
    
            {{ if ge $i 3 }}
                <a class="menu-item" href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
                    {{ partial $icon }}
                    <span class="{{if not $active }}color-fg-muted{{ end }}">{{ .Name }}</span>
                </a>
            {{ end }}
    
            {{ end }}
    
        </nav>
    </div>
</div>
