{{ $context := . }}
{{ range .Site.Params.education }}
    <div class="TimelineItem pt-0">
        <div class="TimelineItem-badge">
            {{ partial "icons/edu" }}
        </div>
        <div class="TimelineItem-body">
            <p class="f5 mb-0">{{.from}}{{ if isset . "to" }} → {{.to}}{{ end }}</p> 
            <p class="text-semibold color-fg-default mb-0">{{.title | $context.Page.RenderString}}</p>
            {{ if isset . "where" }}<p class="mb-0">{{ .where | $context.Page.RenderString }}</p>{{ end }}

        </div>
    </div>
{{ end }}