<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold text-small color-text-link mb-0">2020 - ?</p> 
        <p class="text-bold color-text-primary mb-0">Master degree in Computer Engineering</p>
        <p class="mb-0">soon</p>
    </div>
</div>

<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold text-small color-text-link mb-0">2016 - 2019 </p> 
        <p class="text-bold color-text-primary mb-0">Bachelor degree in Computer Engineering</p>
        <p class="mb-0">{{ "**Thesis:** _Semantic expansion of bibliographic records_: using ML-based entity extraction tools and SPARQL queries to generate semantic annotations based on geographic data<br/>Università degli Studi di Firenze, Florence" | .Page.RenderString }}</p>
    </div>
</div>

<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold text-small color-text-link mb-0">2015</p> 
        <p class="text-bold color-text-primary mb-0">Secondary school diploma</p>
        <p class="mb-0">{{ "Liceo Scientifico _Guido Castelnuovo_, Florence" | .Page.RenderString }}</p>
    </div>
</div>
