<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold f5 mb-0">Sep 2019 → ?</p> 
        <p class="text-bold color-text-primary mb-0">Master's degree in Computer Science & Engineering</p>
        <p class="mb-0">soon</p>
    </div>
</div>

<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold f5 mb-0">Sep 2015 → Apr 2019</p> 
        <p class="text-bold color-text-primary mb-0">Bachelor's degree in Computer Science & Engineering</p>
        <a href="https://github.com/n3d1117/semantic-biblio-expansion"><p class="color-text-tertiary mb-2">{{ "**Thesis:** _Semantic expansion of bibliographic records_: using ML-based entity extraction tools and SPARQL queries to generate semantic annotations based on geographic data" | .Page.RenderString }}</p></a>
        <p class="mb-0">{{ "Università degli Studi di Firenze, Florence, Italy" | .Page.RenderString }}</p>
    </div>
</div>

<div class="TimelineItem pt-0">
    <div class="TimelineItem-badge">
        {{ partial "icons/edu" }}
    </div>
    
    <div class="TimelineItem-body">
        <p class="text-bold f5 mb-0">Jun 2015</p> 
        <p class="text-bold color-text-primary mb-0">Secondary school diploma</p>
        <p class="color-text-tertiary mb-2">{{ "**Thesis:** _Bitcoin: the currency of the future?_" | .Page.RenderString }}</p>
        <p class="mb-0">{{ "Liceo Scientifico _Guido Castelnuovo_, Florence, Italy" | .Page.RenderString }}</p>
    </div>
</div>
