<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    {{ $username := .Get "username" }}
    {{ $count := .Get "count" }}
    {{ $url := printf "https://api.github.com/users/%s/repos?per_page=50" $username }}
    {{ $exclude := slice "CrackBot" }}
    {{ $json := sort (getJSON $url) "stargazers_count" "desc"}}
    {{ range where $json "name" "not in" $exclude | first $count }}

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-3">
            {{ partial "github-repo" . }}
        </div>

    {{ end }}
</div>
