{{ $image := (.Page.Resources.ByType "image").GetMatch (printf "*%s" (.Get "src")) }}
{{ $resized := $image }}

{{ if gt $image.Width 900 }}
    {{ $resized = $image.Resize "900x" }}
{{ end }}

{{ if .Get "caption" }}
<figure>
    <picture>

        {{ $width := $resized.Width }}
        {{ $height := $resized.Height }}
        {{ if .Get "w" }}
            {{ $width = .Get "w" }}
            {{ $ratio := div $resized.Height (float $resized.Width) }}
            {{ $height = int (mul $ratio (int $width)) }}
        {{ end }}
    
        {{ with $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}
            <source 
                srcset="{{ .RelPermalink }}" 
                width="{{ $width }}" 
                height="{{ $height }}" 
                loading="lazy" 
                decoding="async"
                type="image/webp"
            >
        {{ end }}

        <img
            src="{{ $resized.RelPermalink }}"
            width="{{ $width }}" 
            height="{{ $height }}" 
            alt="" 
            loading="lazy" 
            decoding="async"
        >
        <figcaption>{{ .Get "caption" | .Page.RenderString }}</figcaption>
    </picture>
</figure>
{{ else }}
{{ warnf "No caption found for image %q" $resized }}
{{ end }}