{{- $res := (.Page.Resources.ByType "image").GetMatch (printf "*%s" (.Get "src")) -}}
{{- $ws := slice 480 768 1366 1920 -}}
{{- $srcset := slice -}}
{{- range $ws -}}
    {{- if (le . $res.Width) -}}
        {{- $w := printf "%dx webp q95" . -}}
        {{- $url := ($res.Resize $w).RelPermalink | safeURL -}}
        {{- $fmt := printf "%s %dw" $url . -}}
        {{- $srcset = $srcset | append $fmt -}}
    {{- end -}}
{{- end -}}

{{- $set := delimit $srcset "," -}}

{{ if .Get "caption" }}
<figure>
    <picture>
        <source srcset="{{ $set }}" type="image/webp" loading="lazy" decoding="async">
        
        {{ $width := $res.Width }}
        {{ $height := $res.Height }}
        {{ if .Get "w" }}
            {{ $width = .Get "w" }}
            {{ $ratio := div $res.Height (float $res.Width) }}
            {{ $height = int (mul $ratio (int $width)) }}
        {{ end }}
        <img
            sizes="(max-width: 480px) 480px, 100vw"
            src="{{ $res.RelPermalink }}"
            width="{{ $width }}" 
            height="{{ $height }}" 
            alt="" 
            loading="lazy" 
            decoding="async"
        >
        <figcaption>{{ .Get "caption" | .Page.RenderString }}</figcaption>
    </picture>
</figure>
{{ else }}
{{ warnf "No caption found for image %q" $res }}
{{ end }}

